/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Noto Serif',sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 72px;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 64px;
}

.links a {
    text-decoration: none;
}

.links a:hover {
    /* padding: 3px; */
    border-bottom: 2px solid white; 
    transition: all .25s;
}


/* Title Section  */
.banner {
    height: 375px;
    background: rgba(119, 166, 57, 0.88);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.banner-text {
    padding: 5% 0;
}

.banner-text p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
}

/* Navbar styles */
#flex-nav{
    height: 85px;
    background: #323232;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#flex-nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: 'Open Sans',serif;
    font-size: 1.4rem;
    margin: 0 18%;
    padding-top: 25px;
}

#flex-nav li a{
    text-decoration: none;
    color: white;
}
/* Add navbar indicator here */

/* Main Content */
#main {
    margin: 5% 20% 6% 20%;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    line-height: 45px;
    font-size: 1.4rem;
    text-align: justify;
}

.btn {
    margin: 8% 35% 5% 35%;
    text-align: center;
    width: 270px;
    height: 65px;
    background: rgba(119, 166, 57, 0.88);
    font-family: 'Open Sans';
    letter-spacing: 2px;
    font-style: normal;
    font-weight: normal;
    border-radius: 5px;
    line-height: 65px;
    font-size: 20px;
    position: relative;
}

.btn a {
    color:rgba(0, 0, 0, 0.685);
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.1);
    transition: all .8s;
}


footer {
    height: 89px;
    background: #323232;
    text-align: center;    
}

footer p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    padding-top: 1.5%;
    font-size: 24px;
    color: white;
}

.footer-all {
    margin: 8% auto 0 auto;
}

/***********************  Diamond Page ************************/

.heading {
    margin: 4.4% 20% 6% 11%;
}

.heading h2 {
    border-left: 4px solid black;
    padding-left: 18px;
    display: inline-block;
}

.diamond {
    position: relative;
    top: 30px; 
    left: 22px;
    width: 97px;
    height: 92px;
    transform: rotate(5.71deg);
}

.main-para {
    margin: 2.2% 20% 1% 11%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    line-height: 45px;
    font-size: 1.4rem;
    text-align: justify;
}

/***********************  Discovery Page ************************/

.img-align {
    margin-left: 11%;
    height: 350px;
    width: 593px;
    position: relative;
    overflow: hidden;
    border-radius: 10px
}

.img-align img {
    height: 350px;

}

.img-align figcaption {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    padding: 15px;
    width: 100%;  
    transform: translateY(100%);
}

.img-align:hover img{
    transform: scale(1.1);
    transition: all 1.5s;
}

.img-align:hover figcaption {
    transform: translateY(0);
    transition: all .5s;
}

.shrink {
    margin: 2.2% 36% 1% 11%;
}

/***********************  Exhibition Page ************************/

.exhibition {
    width: 810px;
    height: 323px;
    padding: 10px;
    border: 3px solid black; 
}

.exhibition-content, #hov-content {
    width: 800px;
    margin: .8% 0 -3% 11%;
    padding: 2%;
    line-height: 2.8;
    font-family: 'Montserrat';
    border: 2px solid black;
    border-radius: 25px;
}

.exhibition-content h3 {
    font-size: 2rem;
    line-height: 2;
}

.main-time{
    font-size: 1.3rem;
}

.main-time ul li{
    margin-left: 75px;
}

/***********************  House of Volkov Page ************************/

#hov-content {
    position: relative;
    width: 700px;
    margin: 0 0 3% 11%;
    padding: 1%;
}

.address-head{
    display: block;
}

.address {
    margin-left: 75px;
    text-align: left;
    /* height: 200px; */
    /* width: 200px; */
}

.right {
    position: absolute;
    right: -700px;
    bottom: -52px;
}

/* Media Queries  */

@media (max-width: 1400px)
{
    #flex-nav ul{
        display: block;
        flex-direction: column;
    }
}